{% extends "layout.html" %}
{% block titulo %}administrador{% endblock %}
{% block contenido %}

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" href="admin">
            <i class="fa-solid fa-house fa-bounce"></i>
            Home
          </a>
        </li>

       

      </ul>

      <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#crearUsuario">
        ➕ Nuevo Usuario
      </button>

    </div>
  </div>
</nav>




<div class="container mt-4">

  <table class="table table-hover">
    <thead>
      <th>ID</th>
      <th>NOMBRE</th>
      <th>CORREO</th>
      <th>CLAVE</th>
      <th>PERFIL</th>
      <th colspan="2">ACCIONES</th>
    </thead>

    <tbody>
      {% for u in usuarios %}
      <tr>
        <td>{{u[0]}}</td>
        <td>{{u[1]}}</td>
        <td>{{u[2]}}</td>
        <td>{{u[3] | truncate(25)}}</td>
        <td>{{u[4]}}</td>

        <td>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editar{{u[0]}}">
            <i class="fa-solid fa-user-pen"></i> Editar
          </button>
        </td>

        <td>
          <form action="/dUsuario/{{u[0]}}" method="post" onsubmit="return confirm('¿Eliminar usuario?');">
            <button class="btn btn-danger">
              <i class="fa-solid fa-trash"></i> Eliminar
            </button>
          </form>
        </td>

      </tr>


      <!-- MODAL EDITAR USUARIO -->
      <div class="modal fade" id="editar{{u[0]}}" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">

            <div class="modal-header">
              <h1 class="modal-title fs-5">Editar Usuario</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <form action="/uUsuario" method="post">
            <div class="modal-body">

              <input type="hidden" name="id" value="{{u[0]}}">

              <!-- Nombre -->
              <label class="form-label">Nombre</label>
              <input type="text" name="nombre" class="form-control" value="{{u[1]}}" required>

              <!-- Correo -->
              <label class="form-label mt-3">Correo</label>
              <input type="email" name="correo" class="form-control" value="{{u[2]}}" required>

              <!-- Clave -->
              <label class="form-label mt-3">Clave</label>
              <input type="password" name="clave" class="form-control" value="{{u[3]}}" required>

              <!-- Perfil -->
              <label class="form-label mt-3">Perfil</label>
              <select class="form-select" name="perfil">
                <option value="A" {% if u[4] == "A" %}selected{% endif %}>Administrador</option>
                <option value="U" {% if u[4] == "U" %}selected{% endif %}>Usuario</option>
              </select>

            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            </div>

            </form>

          </div>
        </div>
      </div>

      {% endfor %}
    </tbody>
  </table>

</div>




<!-- MODAL CREAR USUARIO -->
<div class="modal fade" id="crearUsuario" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h1 class="modal-title fs-5">Crear Usuario</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <form action="/cUsuario" method="post">
      <div class="modal-body">

        <label class="form-label">Nombre</label>
        <input type="text" name="nombre" class="form-control" required>

        <label class="form-label mt-3">Correo</label>
        <input type="email" name="correo" class="form-control" required>

        <label class="form-label mt-3">Clave</label>
        <input type="password" name="clave" class="form-control" required>

        <label class="form-label mt-3">Perfil</label>
        <select class="form-select" name="perfil" required>
          <option value="A">Administrador</option>
          <option value="U" selected>Usuario</option>
        </select>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-success">Crear</button>
      </div>

      </form>

    </div>
  </div>
</div>


{% endblock %}
